src/acm_ai/.env
.env

**/bin/
**/obj/
__pycache__/
*.py[cod]
venv/
.venv/
**/.venv/
node_modules/
**/node_modules/
dist/
**/dist/
.vs/
*.user
*.suo
*.log
src/ACM.Backend/wwwroot/uploads/audio/
src/ACM.Backend/obj/
src/ACM.Backend/bin/