fastapi
uvicorn
langchain
langgraph
langchain-openai
langchain-groq
pydantic
python-dotenv
psycopg[binary]
pytest
pytest-mock
groq
pypdf
pymupdf
python-docx
langchain-text-splitters
sentence-transformers
sqlalchemy
pgvector
numpy
python-multipart
